<!doctype html>
<html lang="ru">
<head>
        <meta charset="utf-8">
	<title>Студия дизайна Studiodev</title>
	
	<link rel="stylesheet" href="css/global.css">			<!--глобал и слайдер-->
	<link rel="stylesheet" href="css/custom.css">			<!--основная разметка-->
	<link rel="stylesheet" href="css/content.css">			<!--стили материалов-->
	<link rel="stylesheet" href="css/chain.css">			<!--стили chain roundbox-->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="js/slides.js"></script>

	<!--[if gte IE 9]>
  	<style type="text/css">
  	  .gradient {
   	    filter: none;
  	  }
  </style>
<![endif]-->
</head>
<body>
<!--верхняя навигационная панель-->
<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">

				<a class="brand" href="#"></a>
					<div class="nav-collapse" style="float:left;"> 
							<!--навигационные пункты верхнего меню-->
							<ul class="nav" id="yw0">
							<li class="active"><a href="/">Главная</a></li>
							<li ><a href="#job">Вакансии</a></li>
							<li ><a href="#contacts">Контакты</a></li>
							</ul>
					</div>
				<div id="find">
					<input type="text" name="ifind" value="Поиск..." id="ifind" onclick="if (this.value == 'Поиск...') { this.value='' } ;" onblur="if (this.value=='') { this.value='Поиск...'; }">
				</div>
			</div>
		</div>
<!--end top menu!-->
<div id="topbox">
<div style="width: 840px; margin: 0 auto;" >

<div class="vmenu">
	<div class="light butmenu" style="z-index:38">Портфолио</div>
	<div class="butmenu light" style="z-index:37">Заказать</div>
	<div class="butmenu light" style="z-index:36">Команда</div>
	<div class="butmenu light" style="z-index:35">Блог</div>
	
</div>
<div id="slidesblock">
	<!--SLIDER!!!-->
<div id="container">
		<div id="example">
			<!--<img src="img/new-ribbon.png" width="112" height="112" alt="New Ribbon" id="ribbon">-->
			<div id="slides">
				<div class="slides_container">
					<!--<div>
						<a href="#" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"><img src="img/slide-1.jpg" width="570" height="270" alt="Slide 1"></a>
						<div class="caption" style="bottom:0">
							<p>Happy Bokeh Thursday!</p>
						</div>
					</div>
					<div>
						<a href="#" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="img/slide-2.jpg" width="570" height="270" alt="Slide 2"></a>
						<div class="caption">
							<p>Taxi</p>
						</div>
					</div>-->
					<div>
						<a href="#" title="#" target="_blank"><img src="img/slide-4.jpg" width="570" height="270" alt="Slide 4"></a>
						<div class="caption">
							<p>Больше белых и синих оттенков</p>
						</div>
					</div>
					
					<div>
						<a href="#" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="img/slide-3.jpg" width="570" height="270" alt="Slide 3"></a>
						<div class="caption">
							<p>Генерация дождливого дизайна</p>
						</div>
					</div>

					<!--<div>
						<a href="#" title="#" target="_blank"><img src="img/slide-5.jpg" width="570" height="270" alt="Slide 5"></a>
						<div class="caption">
							<p>&ldquo;I must go down to the sea again, to the lonely sea and the sky...&rdquo;</p>
						</div>
					</div>-->
					<div>
						<a href="#" title="#" target="_blank"><img src="img/slide-6.jpg" width="570" height="270" alt="Slide 6"></a>
						<div class="caption">
							<p>Music</p>
						</div>
					</div>
					<div>
						<a href="#" title="Save my love for loneliness | Flickr - Photo Sharing!" target="_blank"><img src="img/slide-7.jpg" width="570" height="270" alt="Slide 7"></a>
						<div class="caption">
							<p>Еще одна картинка темных цветов</p>
						</div>
					</div>
				</div>
				<a href="#" class="prev"><img src="img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
			</div>
			
		</div>
	</div>
	<!--END SLIDER-->

        </div>

</div>
<div style="clear: both;"></div>
<p class="headbottom">&nbsp;
<div id="right_indent"></div>
<span id="copyright">Studio Development</span>		
</p>
</div>

<div>
<div id="contentsblock">

		<div id="breadthrumbs">&nbsp</div>
		
		<div id="page">
			<div id="contenthead"><div>Разработка Web-сайта</div></div>
			<div id="readmore">Читать</div>
			<div id="time">Сегодня 12:06</div>
			<div id="content">
			В этой статье мы расскажем как заказать у нас сайт и об этапах разработки Web-сайта.
			Каждое звено этой цепи имеет разную сложность, стоимость и время.</br></br>
					<div id="rcontainer">
					
					<div id="box1">Эскиз</div>
					<hr>
					<div id="box2_1">PSD</div>
					<hr>	
					<div id="box2_3">HTML</br>JavaScript</br/>CSS</div>
					<hr>	
					<div id="box2_3">PHP</br>Framework</br>CMS</div>
					<hr>	
					<div id="box2_1">Контент</div>
					<hr>						
					<!--<div id="box1">Сайт</div>-->
									
					</div>		
			</div>
		<div style="clear: both;"></div>	
		</div>
		
		<div id="page">
			<div id="contenthead"><div>Заголовок статьи</div></div>
			<div id="readmore">Читать</div>
			<div id="time">13.06.2013 12:06</div>
			<div id="content">
			Обычная статья, которая может быть написана в виде блога, новости.
			Планируется размещать новости студии, пополнения в портфолио, объявления. 	
			</div>
		<div style="clear: both;"></div>
		</div>
</div>
</div>
<div id="bottombackground" >
  <div id="bottomdarkline"></div>
</div>  

<!--Bottom block-->
	<div id="bottomalign">
		<div id="bottomroundhead">Записи блога</div>
		<div id="bottomroundbox">
		<ul>
			<li><a href="#">Обзор Web-редакторов</a></li>		
			<li><a href="#">Заметки HTML верстальщика</a></li>	
			<li><a href="#"> Авторское мнение о выборе CMS, удобной Framework</a></li>	
			<li><a href="#">Перспективы программиста: Web, Soft или Game Industry ?</a></li>
		</ul>	
		</div>
	</div>
<!--end botbox-->
</body>

<script>
 $(document).ready(function(){
			
			$(".butmenu").first().click(
				function(){
						
						$(".butmenu").first().off('click').removeClass('light');
						$("#vmenu").css({'background': 'rgba(0, 0, 0, 0.09)'});
						$(".butmenu").first().css('background','rgba(0, 0, 0, 0.56)');
						window.location.replace("/index3.html");
						});	//end script
						
			
			
			$("#tslides").hide();
			$("#ifind").bind({
				focus: function() {
					if ($(this).attr('title') == $(this).attr('value')) {
						$(this).attr('value', '');
					}
					$("div#find").animate({"width":"168px"},800);
				},
				blur: function() {
					$("div#find").animate({"width":"120px"},800);
					if ($(this).attr('value') == '') {
						$(this).attr('value', $(this).attr('title'));
					}
				}
			});
				
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 3000,
				pause: 1000,
				hoverPause: true,
				animationStart: function(){
					$('.caption').animate({
						bottom:-35
					},100);
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						//console.log(current);
					};
				}
			});
		});
	</script>
	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter21969370 = new Ya.Metrika({id:21969370,
							webvisor:true,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="//mc.yandex.ru/watch/21969370" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>
