@font-face {font-family: 'PT Sans';
    src: url('pts55f_w.eot');
    src: local('PT Sans'), url('/res/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('/res/PTS55F_W.woff') format('woff'),url('/res/PTS55F_W.ttf') format('truetype'), url('/res/PTS55F_W.svg#PTSans-Regular') format('svg');}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
	background: #242424;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #5EA2E0; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #5EA2E0;   
}

:focus { outline:0;outline-offset:0px; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }
p{color: #EEE;font-size: 11pt;}
a {
    color: rgb(0, 136, 204);
    text-decoration: none;
    text-shadow: 0px;
}

a:focus {
    outline: thin dotted rgb(51, 51, 51);
    outline-offset: -2px;
}

body { 
	font:normal 11px/1.5 'sans-serif',Arial;
	letter-spacing:0;
	color:#434343;
	background:#efefef url(../img/background.png) repeat top center;
	padding: 0px;
	position:relative;
	/*text-shadow: 0 1px 0 rgba(255,255,255,.8);*/
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	width:570px;
	height:270px;
	overflow:hidden;
	position:relative;
	border: 15px solid #181818;
	left: -15px;
	top: -15px;
}

#slides .next {
	left:585px;
}

.pagination {
	margin:0px -30px ;
	width:100px;
	float: left;
	list-style: none outside none; 
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/slider-pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
position: absolute;
bottom: -35px;
height: 30px;
padding: 0px 20px;
background: #000;
background: rgba(0, 0, 0, .5);
width: 540px;
font-size: 9pt;
line-height: 0;
color: #FFF;
text-shadow: none;
font-family: "Times New Roman";
text-align: left;
margin-bottom: 4px;
bottom: 0px;
}
.caption p{
color: #EEEEEE;
font-size: 14px;
line-height: 32px;
margin: 0px;
}

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

a:link,a:visited {
	color: #87ABD1;
	text-decoration:none;
}

a:hover,a:active {
	color: #EBD046;
	text-decoration: underline;
}